*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	/*height: 100%;*/
	/*background-size: 100% 100%;*/
	background-color: white;
}
header{
	width: 100%;
	height: 80px;
	background-color: #2a3132;
}
.left{
	width: 25%;
	/*padding: 5px;*/
	line-height: 80px;
	float: left;
	text-align: center;
	color: coral;
    cursor: pointer;
    vertical-align: center;
}
.left:hover{
	text-shadow: 2px 2px 5px lightgray;
}
.right{
	width: 65%;
    /*padding: 5px;*/
	float: right;
	line-height: 80px;
	margin-right: 40px;
	display: flex;
	justify-content: space-between;

}
.right a{
	text-decoration: none;
	font-size: 25px;
	color: lightgray;
}

.content #photo{
	margin-left: auto;
	margin-right: auto;
    text-align: center;
    display: block;
    border-radius: 50%;
    /*border: 5px solid black;*/
}

.right a:hover{
	font-size: 2em;
	color: coral;
}
.skill{
	
	font-size: 3em;
	/*margin-top: 15px;*/
	}
.skill h3{
	text-align: center;
	width: 100%;
	background-color: rgba(0,0,0,0.7);
	color: white;
}
.container{
	width: 100%;
	background-color:darkgrey;	
}
.skills{
	text-align: right;
	/*padding-top: 10px;*/
	/*padding-bottom: 10px;*/
	color: white;
}
.html{
	width: 90%;
	background-color: #4caf50;
}
.css{
	width: 85%;
	background-color: #2196f3;
}
.js{
	width: 65%;
	background-color: #f44336;
}
.c{
	width: 85%;
	background-color: orange;
}
.achive{
	width: 100%;
	background-color:
}
.achive h3{
	margin-top: 30px;
	font-size: 2em;
	text-align: center;
    background-color:#2243b6;
    box-shadow: 0px 0px 0px 5px gold;
    transition: box-shadow 0.6s linear;
    margin: 0.5em;    
    /*background-color: gold;*/
}
.achive h3:hover{
box-shadow: 0px 0px 0px 10px red;	
	}
.achive .imge #l{
	float: left;
    margin-left: 4px;
    margin-top: 15px; 
}
.content .achive .imge #l:hover{
	border: 5px solid black;
}
.content .achive .imge #r{
	float: right;
    margin-right: 4px;
    margin-top: 13px;
}
.content .achive .imge #r:hover{
	border: 5px solid black;
}
footer{
	margin-top: 40%;
	background-color: rgba(0,0,0,0.7);
}
footer #tag{
	text-align: center;
	font-size: 2.5em
}
footer .footer .logo img{

	padding-left: 7%;
	padding-right: 7%;
	padding-bottom: 2%; 
	/*background-color: black;*/

}
footer .footer .logo img:hover{


} 